html, body {
  background-color: #330055;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23330055' cx='50' cy='0' r='50'/%3E%3Cg fill='%233c005e' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23440066' cx='50' cy='100' r='50'/%3E%3Cg fill='%234d006f' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23550077' cx='50' cy='200' r='50'/%3E%3Cg fill='%235e0080' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23660088' cx='50' cy='300' r='50'/%3E%3Cg fill='%236f0091' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23770099' cx='50' cy='400' r='50'/%3E%3Cg fill='%238000a2' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%238800aa' cx='50' cy='500' r='50'/%3E%3Cg fill='%239100b3' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%239900bb' cx='50' cy='600' r='50'/%3E%3Cg fill='%23a200c4' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23aa00cc' cx='50' cy='700' r='50'/%3E%3Cg fill='%23b300d5' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23bb00dd' cx='50' cy='800' r='50'/%3E%3Cg fill='%23c400e6' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23cc00ee' cx='50' cy='900' r='50'/%3E%3Cg fill='%23d500f7' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23D0F' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;
}
.App {
  text-align: center;
  background-image:url('/images/portfolio/dog-2785074_1920.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center; 
  height: 100vh;
  .main {
    color: white;
    background: rgba(0,0,0,0.7);
    width: 100%;
    height:100%;
    font-family: 'Titillium Web', sans-serif;
    .main-curve {
      position: relative;
      top: 6px;
    }
  }
  .title {
    padding:45px 15px 0;
    font-size: 3em;
  }
  .main-logo {
    width:100%;
    max-width: 20em;
  }
  .twitter-timeline-wrapper{
    margin: 25px 0 50px 0;
    min-height: 500px;
  }
  .insta-image {
    margin: 10px;
    margin-top: 10vh;
    iframe {
      margin: 0 auto !important;
    }
  }
  footer{
    background: black;
    width: 100%;
    height: 100px;
    a {
      color: #d939dc;
    }
  }
}